/haystack_pq/models/speechless-llama2-hermes-orca-platypus-wizardlm-13b.Q5_K_M.gguf
/llama_index_pq/logfile.txt
/llama_index_pq/temp/
/llama_index_pq/installer_files/
/llama_index_pq/test.py
/llama_index_pq/test.bat
