llama-index==0.12.16
llama-index-vector-stores-qdrant==0.4.3
llama-index-llms-llama-cpp==0.4.0
llama-index-embeddings-huggingface==0.5.1
gradio==4.44.1
flask==3.1.0
deep_translator==1.11.4
horde_sdk==0.17.1
ollama
git+https://github.com/openai/CLIP.git
pytorch_lightning
bitsandbytes
accelerate
tensorflow
tf-keras