gradio==4.29.0
llama-index>=0.10.15
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-llama-cpp
opencv-python
horde_sdk
deep_translator
pytorch_lightning
Flask
jsonify